Repository ML-KULeuven/socceraction: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pyupgrade

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus

xgboost now supports categorical features
  socceraction/ml/preprocessing.py
Due: pyupgrade

perf(features): faster feature computation
  socceraction/features/event/statsbomb.py
  socceraction/features/spadl/shot.py
Due: pyupgrade

docs: add xg notebooks
  public-notebooks/2-xG/2.1-basic-usage.ipynb
  public-notebooks/2-xG/2.2-statsbomb-xg-model.ipynb
Due: none

docs: add xT notebook
  public-notebooks/3-xT/3.1-estimate-xT.ipynb
  socceraction/xthreat.py
Due: pyupgrade

Differentiate between keeper and fieldplayer save event in opta-spadl transformation
  socceraction/spadl/opta.py
Due: pyupgrade

ci: run tests on macos
  .github/workflows/ci.yml
  tests/data/test_load_opta.py
Due: check-yaml, pyupgrade

fix(ci): fix missing coverage upload
  .github/workflows/ci.yml
Due: check-yaml

docs: update contributing guide
  CONTRIBUTING.rst
Due: none

Update python version badge
  README.md
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
