Repository ML-KULeuven/socceraction: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, pyupgrade, isort

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus

isort:
  name: Reorder python imports
  entry: isort
  require_serial: true
  language: system

docs: Add documentation about synthetic dribbles
  docs/documentation/spadl/SPADL_definitions.rst
  docs/documentation/spadl/spadl.rst
Due: none

Bump version: 1.5.0 → 1.5.1
  .bumpversion.cfg
  docs/conf.py
  pyproject.toml
  socceraction/__init__.py
Due: black, check-toml, flake8, pyupgrade, isort

docs: Fix typo
  socceraction/vaep/features.py
Due: black, flake8, pyupgrade, isort

added test cases and updated vaep/base.py
  socceraction/vaep/base.py
  tests/vaep/test_vaep.py
Due: black, flake8, pyupgrade, isort

fix(vaep): use iloc to select last value in the dataframe
  socceraction/vaep/labels.py
  tests/vaep/test_labels.py
Due: black, flake8, pyupgrade, isort

linting: Remove unused import
  tests/vaep/test_labels.py
Due: black, flake8, pyupgrade, isort

linting: Reorder imports
  tests/vaep/test_labels.py
Due: black, flake8, pyupgrade, isort

wip
  docs/api/attributes.rst
  docs/documentation/intro.rst
  docs/index.rst
  socceraction/atomic/attributes/__init__.py
  socceraction/atomic/attributes/spadl.py
  socceraction/atomic/attributes/utils.py
  socceraction/atomic/spadl/__init__.py
  socceraction/atomic/spadl/utils.py
  socceraction/atomic/vaep/base.py
  socceraction/atomic/vaep/features.py
  socceraction/attributes/__init__.py
  socceraction/attributes/event/statsbomb.py
  socceraction/attributes/spadl/actiontype.py
  socceraction/attributes/spadl/bodypart.py
  socceraction/attributes/spadl/contextual.py
  socceraction/attributes/spadl/location.py
  socceraction/attributes/spadl/possession.py
  socceraction/attributes/spadl/result.py
  socceraction/attributes/spadl/sequence.py
  socceraction/attributes/spadl/shot.py
  socceraction/attributes/utils.py
  socceraction/spadl/__init__.py
  socceraction/spadl/utils.py
  socceraction/types.py
  socceraction/utils.py
  socceraction/vaep/base.py
  socceraction/vaep/features.py
  socceraction/vaep/formula.py
  tests/conftest.py
  tests/test_attributes.py
  tests/vaep/test_features.py
Due: black, flake8, pyupgrade, isort

fix(opta): apply _fix_unintentional_ball_touches only to passes
  socceraction/spadl/opta.py
  tests/spadl/test_opta.py
Due: black, flake8, pyupgrade, isort

chore(kloppy): support kloppy 3.15
  pyproject.toml
  socceraction/spadl/kloppy.py
  tests/spadl/test_kloppy.py
Due: black, check-toml, flake8, pyupgrade, isort

chore: Support Python 3.12
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/documentation/install.rst
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, flake8, pyupgrade, isort

feat(opta): support feeds with accented characters
  socceraction/data/opta/loader.py
  tests/data/test_load_opta.py
Due: black, flake8, pyupgrade, isort

fix(vaep): constrain game states to periods
  docs/documentation/valuing_actions/vaep.rst
  socceraction/vaep/features.py
  tests/datasets/download.py
  tests/datasets/spadl/atomic_spadl.json
  tests/datasets/spadl/spadl.json
  tests/vaep/test_features.py
Due: black, flake8, pyupgrade, isort

chore(xgboost): update arguments
  socceraction/vaep/base.py
Due: black, flake8, pyupgrade, isort

fix(vaep): support extra time in "time" feature
  socceraction/vaep/features.py
  tests/vaep/test_features.py
Due: black, flake8, pyupgrade, isort

linting
  tests/vaep/test_labels.py
Due: black, flake8, pyupgrade, isort

[VAEP] Use iloc to select last value in the dataframe (#718)
  socceraction/vaep/labels.py
  tests/vaep/test_labels.py
Due: black, flake8, pyupgrade, isort

ci: fix bumpversion config
  .bumpversion.cfg
Due: none

Bump version: 1.5.1 → 1.5.2
  .bumpversion.cfg
  docs/conf.py
  pyproject.toml
  socceraction/__init__.py
Due: black, check-toml, flake8, pyupgrade, isort

fix(atomic): use iloc to select last value in the dataframe
  socceraction/atomic/vaep/labels.py
  tests/atomic/test_atomic_labels.py
Due: black, flake8, pyupgrade, isort

feat(dataset): add dask support
  pyproject.toml
  socceraction/data/dataset/base.py
  socceraction/data/dataset/hdf.py
  socceraction/data/dataset/sql.py
  socceraction/data/transforms.py
  socceraction/features/event/statsbomb.py
  socceraction/spadl/utils.py
Due: black, check-toml, flake8, pyupgrade, isort

minor fixes
  public-notebooks/01-data/1-load-statsbomb-data.ipynb
  public-notebooks/01-data/2-convert-events-to-actions.ipynb
  socceraction/data/dataset/base.py
  socceraction/data/dataset/hdf.py
  socceraction/data/transforms.py
  socceraction/features/event/statsbomb.py
  socceraction/vaep/labels.py
Due: black, flake8, pyupgrade, isort

chore: update lock file
  poetry.lock
Due: none

Bump version: 1.5.2 → 1.5.3
  .bumpversion.cfg
  docs/conf.py
  pyproject.toml
  socceraction/__init__.py
Due: black, check-toml, flake8, pyupgrade, isort

fix: read_hdf
  socceraction/data/dataset/hdf.py
Due: black, flake8, pyupgrade, isort

docs: add data loading + preprocessing notebooks
  public-notebooks/1-Data/1.1-load-statsbomb-data.ipynb
  public-notebooks/1-Data/1.2-convert-events-to-actions.ipynb
  public-notebooks/1-Data/1.3-generate-features.ipynb
Due: none

fix: typo
  socceraction/xg/base.py
Due: black, flake8, pyupgrade, isort

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  isort: any of: \.py$
